body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #E8ECF1;
}

.content-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 300px;
	padding-top: 130px;
	padding-bottom: 100px;

}

h2 {
	font-size: 2.6rem;
}

#about-me {
	color: #707070;
	font-family: 'Fanwood Text', serif;
	padding-top: 20px;
	font-size: 1.3rem;
}

.content-wrapper article {
	width: 50%;
	padding-left: 150px;
}
.content-wrapper img {
	width: 550px;
	height: 376px;

}

hr {
	width: 85%;
	margin: 0 auto;
	color: #707070;
}

.quote-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top:  60px;
	padding-bottom:  60px;
}

#quote {
	color: #030C24;
	width: 43%;
	text-align: center;
	font-family: Quattrocento, serif;
	font-size: 1.6rem;
	font-weight: 500;
}
.images-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 100px;
}
.images-wrapper img {
	width: 497px;
	height: 357px;
	margin-bottom: -6px;
}

.images-wrapper img:hover {
	opacity: 0.8;
	cursor: pointer;
}