.main-container {
 	/* display: none; */
 	background-color: black;
 }
/*Center the images in the slider*/
    .carousel-inner {
      width: 800px !important;
      height: 100vh !important;
      overflow-y: hidden !important;
      display: flex !important;
      align-items:center !important;
      margin: 0 auto !important;

    }
/*Back to gallery*/
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


a {
	color: #fff;
	text-decoration: none;
	outline: none;
	font-weight: 600;
}

a:hover, a:focus {
	color: #debcc3;
}

section {
	padding: 1em;
	text-align: center;
}


/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.69em;
	line-height: 2.2;
	position: absolute;
	z-index: 2000;
}

.codrops-top a {
	display: inline-block;
	padding: 0.3em 0.7em;
	text-decoration: none;
	letter-spacing: 1px;
	margin: 5px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

