body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color:#E8ECF1;
}

.gallery-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    padding-bottom: 40px;
    align-items: center;
    padding-left: 160px;

}

.gallery-wrapper img {
    width: 522px;
    height: 522px;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: -6px;
    
   
}

.gallery-wrapper img:hover {
    cursor: pointer;
    opacity: 0.8;
    
   

    
}

.content {
    padding-top: 130px;
    padding-top: 130px;
    
}

.content h1 {
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 70px;
}

.page_current {
    display: inline-block;
    padding-left: 37%;
    padding-bottom: 2%;
    padding-top: 0;
}

#paginationLink {
        color: rgb(102, 100, 100);
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid rgb(185, 185, 185);
        
}

#paginationLink:hover {
    background-color: rgb(206, 206, 206);
}