:root {
	--primary-color: rgba(19, 15, 32, 0.45);
	--overlay-color: rgba(19, 19, 19, 0.85);
	--menu-speed: 0.75s;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.4;
}

.container {
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 0 3rem;
}

.showcase {
	background-color: var(--primary-color);
	color: #fff;
	height: 100vh;
	position: relative;
}

.showcase:before {
	content: '';
	background:url(../img/slika1.jpg) no-repeat center center/cover;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.showcase .showcase-inner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	text-align: left;
	height: 100%;
	margin-left: 200px;
	
}

.showcase h1 {
	font-size: 4rem;
	font-family: Quattrocento, serif;
	padding-bottom: 30px;

}

.showcase p {
	font-size: 1.5rem;
	font-family: 'Fanwood Text', serif;
	width: 70%;
}


.left {
	width: 100%;
	height: 100%;;
	background-color: #E8ECF1;
	position: relative;
	padding-bottom: 50px;

}

.left img {
	width: 45%;
	height: 888px;
	position: relative;
	padding-top: 128px;
	padding-left: 200px;
	box-sizing: border-box !important;
	object-fit: cover;
	overflow: hidden;
	transition: transform .2s;
}

.left img:hover {
	transform: scale(1.1);
}
.left article {
	position: relative;
	width: 46%;
	float: right;
	padding-right: 200px;
	padding-top: 330px;

}
.btn-left {
	display: block;
	font-family: Quattrocento, serif;
	font-size: 1.4em;
	text-decoration: none;
	color: slategray;
	box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6;
	width: 150px;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	transition: transform .2s;
}

.btn-left:hover {
	transform: scale(1.1);
	
	
}

.left article h2 {
	font-size: 62px;
	font-family: Quattrocento, serif;
	padding-bottom: 30px;
	color: #030C24;
}

.left article p {
	font-size: 1.3rem;
	font-family: 'Fanwood Text', serif;
	color: #030C24;
}

.right {

	width: 100%;
	height: 100%;
	background-color: #E8ECF1;
	position: relative;
}

.right img {
	width: 45%;
	height: 888px;
	position: relative;
	padding-top: 128px;
	padding-left: 150px;
	object-fit: cover;
	overflow: hidden;
	transition: transform .2s;
	padding-bottom: 50px;
	
}
.right img:hover {
	transform: scale(1.1);
}

.right article {
	position: relative;
	width: 46%;
	float: left;
	padding-left: 200px;
	padding-top: 330px;


}

.right article h2 {
	font-size: 62px;
	font-family: Quattrocento, serif;
	padding-bottom: 30px;
	color: #030C24;
}

.right article p {
	font-size: 1.3rem;
	font-family: 'Fanwood Text', serif;
	color: #030C24;
	position: relative;
	width: 82%;
	text-align: justify;
}

.stories-section h2 {
	font-size: 62px;
	font-family: Quattrocento, serif;
	padding-bottom: 30px;
	padding-left: 200px;
	padding-top: 100px;
}

section {
	background-color: #E8ECF1;
}
.other-stories {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 100px;
	

}

.other-stories img {
	width: 490px;
	height: 356px;
	margin-bottom: -6px;
}

.other-stories img:hover {
	opacity: 0.8;
}

footer {
	width: 100%;
	height: 270px;
	background-color: #130F20;
	margin: 0;

}

#footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 300px;
	padding-right: 300px;
	padding-top: 74px;
}

footer h3, p {
	color: #E8ECF1;
}

footer h3 {
	font-size: 33px;
}

footer p {
	font-size: 23px;
	opacity: 0.6;
}

#contact-me img {
	padding-right: 10px;
}


#copyright {
	padding-left: 184px;
	padding-top: 80px;
}

#icons img {
	padding: 10px;
}


